// Mixin

// Variables
$border-radius-standard: 10px;
$border-standard: 2px solid black;
$light-color: #f4eee8;
$text-color: black;

// Default
$body-content-width: 90%;
$body-background-image: url('../images/background-img.jpg');

// Header
$secondary-font: 'Caveat', cursive;

// Aside
$primary-font: 'Montserrat', sans-serif;
