---
layout: default
title: Tom's Time Capsule
---

<h1 class="index-title">Home</h1>
<article class="index-description">
  Hello, strangers. How are you? This is a place where I mainly record my daily
  struggles to become a better version of myself.
  <strike>(mostly miserable)</strike>
  Other than that, I also record other bits of myself like things I learn every
  day to become a front-end developer or anything related to my hobbies. Thanks
  for dropping by 😊😊
</article>

<h2 class="index-subtitle">Latest Posts</h2>

<!-- prettier-ignore -->
<div id="grid" class="grid-posts">
  {% for post in site.posts %}
  <div class="grid-posts-item invisible">
    <span class="grid-posts-item-category">{{ post.category }}</span>
    
    <h2 class="grid-posts-item-title">
      <a href="{{ post.url }}">
        {{ post.title | truncate: 15, "..."}}
      </a>
    </h2>
    
    <div class="grid-posts-item-content">
      {% assign excerptParts = post.content | split: "<!-- excerpt-start -->" %}
      
      {% if excerptParts[1] %} 
        {{ excerptParts[1] | strip_newlines | strip_html | truncate: 100, '...'}}
      {% else %}
        {{ post.excerpt | strip_newlines | strip_html | truncate: 100, '...' }}
      {% endif %}
    </div>
    
    <span class="grid-posts-item-date">{{ post.date | date_to_string }} </span>
  </div>
  {% endfor %}
</div>

<div class="pagination"><i class="fa fas chevron-left"></i></div>

<script src="/assets/js/index.js"></script>
