* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  min-height: 100vh;
  width: 95vw;
  background: no-repeat center center $body-background-image;
  background-size: cover;
  font-family: $primary-font;
}

main {
  width: $body-content-width;
  // background: rgba(0, 0, 0, 0.705);
  padding: 2rem 1.5rem;
  border-radius: $border-radius-standard;
  display: flex;
  justify-content: space-between;

  // Create aside scss file to manage it separately
  aside {
    min-width: 250px;
    max-width: 300px;
    margin-right: 50px;

    .profile {
      width: 100%;
      padding: 1rem;
      border-radius: $border-radius-standard;
      margin-bottom: 1.5rem;
      background: $light-color;

      img {
        display: block;
        height: 150px;
        width: 150px;
        margin: auto;
        padding: 0.1rem;
        border: 3px dashed black;
        border-radius: 50%;
      }

      &-text {
        padding: 0.5rem;
        margin-top: 1.1rem;

        &-name {
          display: block;
          font-size: 1.4rem;
          font-weight: bold;
        }
        &-content {
          margin-top: 0.9rem;
        }
      }
    }

    nav {
      .nav-menu {
        border-radius: $border-radius-standard;
        padding: 1rem;
        list-style: none;
        background: $light-color;

        a {
          text-decoration: none;
          color: $text-color;
          &:hover {
            text-decoration: underline;
          }
        }
        i {
          margin-right: 0.4rem;
        }
        &-item {
          margin-bottom: 0.9rem;
        }

        &-subitem {
          margin-left: 1rem;
          margin-bottom: 0.9rem;
        }
      }
    }
  }

  section {
    min-width: 400px;
    max-width: 1300px;
    width: 80%;
    border-radius: $border-radius-standard;
    background: $light-color;
    padding: 1.5rem;
  }
}

// img {
//   height: 300px;
//   width: 300px;
// }

// .thumbnail {
//   display: inline-block;
//   margin: 20px;
//   border: 1px solid black;
//   text-align: center;
// }

// .thumbnail img {
//   height: 200px;
//   width: 200px;
//   margin: 20px;
// }

// .hello {
//   color: red;
// }
