.index {
  &-title {
    display: block;
    font-size: 2.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid black;
  }
  &-description {
    padding-left: 0.1rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin: 1rem 0;
  }

  &-subtitle {
    display: block;
    font-size: 1.7rem;
  }
}

.thumbnail {
  padding: 1rem;
}
