header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 130px;
  width: $body-content-width;
  margin-bottom: 0.3rem;

  .banner {
    font-family: $secondary-font;
    font-size: 4rem;
    letter-spacing: 2px;
    color: $light-color;
    margin-right: 2rem;
  }
}
