<aside>
  <div class="profile">
    <img src="/assets/images/profile-img.jpg" alt="profile-image" />
    <div class="profile-text">
      <span class="profile-text-name"> Tom Tak</span>
      <p class="profile-text-content">
        Computer Science Student. Studying to beomce a Front-end Developer
      </p>
    </div>
  </div>

  <nav>
    <ul class="nav-menu">
      <li class="nav-menu-item">
        <i class="far fa-folder"></i><a href="#">Home</a>
      </li>
      <li class="nav-menu-item">
        <i class="far fa-folder"></i><a href="#">Daily</a>
      </li>
      <li class="nav-menu-item sub">
        <i class="far fa-folder-open"></i><a href="#">2021</a>
      </li>
      <li class="nav-menu-item">
        <i class="far fa-folder"></i><a href="#">Computer Science</a>
      </li>
      <li class="nav-menu-item sub">
        <i class="far fa-folder-open"></i><a href="#">HTML/CSS</a>
      </li>
      <li class="nav-menu-item sub">
        <i class="far fa-folder-open"></i><a href="#">JavsScript</a>
      </li>
      <li class="nav-menu-item sub">
        <i class="far fa-folder-open"></i><a href="#">LeetCode</a>
      </li>
    </ul>
  </nav>
</aside>
