<!-- prettier-ignore -->
<div id="index-grid" class="grid-posts">
  {% for post in paginator.posts %}
  <div class="grid-posts-item">
    <span class="grid-posts-item-category">{{ post.categories[0] }} | {{ post.categories[1] }}</span>
    
    <h2 class="grid-posts-item-title">
      <a href="{{ post.url }}">
        {{ post.title | truncate: 15, "..."}}
      </a>
    </h2>
    
    <div class="grid-posts-item-content">
      {% assign excerptParts = post.content | split: "<!-- excerpt-start -->" %}
      
      {% if excerptParts[1] %} 
        {{ excerptParts[1] | strip_newlines | strip_html | truncate: 100, '...'}}
      {% else %}
        {{ post.excerpt | strip_newlines | strip_html | truncate: 100, '...' }}
      {% endif %}
    </div>
    
    <span class="grid-posts-item-date">{{ post.date | date_to_string }} </span>
  </div>
  {% endfor %}
</div>
