<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css" />
    <title>{{ page.title }}</title>
  </head>
  <body>
    <nav>
      <a href="/index.html">Home</a>
      <a href="/contact.html">Contact</a>
    </nav>
    <h1 class="hello">Hello World</h1>
    {{ content }}
    <hr />
    <footer>Thanks for visiting my blog</footer>
  </body>
</html>
